@import url('reset.css');


.table-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.table-container h1 {
font-size: 40px;
font-weight: 900;
}

.table-container a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.table {
  margin: 40px auto;
}

.table,
.table th,
.table td {
  border: 2px solid rebeccapurple;
  vertical-align: middle;
}

.table td {
  width: 100px;
  height: 100px;
}

.dark-grey {
  background-color: darkgrey;
}

.dark-green {
  background-color: darkgreen;
}

.light-green {
  background-color: lightgreen;
}

.intense-dark-green {
  background-color: #013220;
}

.intense-dark-orange {
  background-color: darkorange;
}

.blue {
  background-color: blue;
}

.container-inline {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.block {
  display: inline-block;
  vertical-align: middle;
  outline: 2px solid rebeccapurple
}
.cyan { background-color: cyan; width: 400px; height: 200px; }
.lime1 { background-color: lime; width: 800px; height: 200px; }
.lime2 { background-color: lime; width: 400px; height: 200px; }
.orange1 { background-color: orange; width: 400px; height: 200px; }
.orange2 { background-color: orange; width: 800px; height: 200px;
}
.inner-block-lime1, 
.inner-block-lime2, 
.inner-block-lime3, 
.inner-block-lime4, 
.inner-block-lime5, 
.inner-block-orange1, 
.inner-block-orange2, 
.inner-block-orange3, 
.inner-block-orange4, 
.inner-block-orange5
{
  outline: 1px solid rebeccapurple;
}

.inner-block-lime1 {
  height: 100px;
}
.inner-block-lime2 { 
  height: 100px;
}
.inner-block-lime3
{
  height: 66.66px;
}
.inner-block-lime4
{
  height: 66.66px;
}
.inner-block-lime5 {
  height: 66.66px;
}
.inner-block-orange1
{
  height: 200px;
}
.inner-block-orange2
{
  height: 100px;
}
.inner-block-orange3
{
  height: 50px;
  width: 400px;
}
.inner-block-orange4
{
  height: 25px;
  width: 400px;
}
.inner-block-orange5
{
  height: 25px;
  width: 400px;
}