@import url('reset.css');


.table-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.table-container h1 {
font-size: 40px;
font-weight: 900;
}

.table-container a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.table {
  margin: 40px auto;
}

.table,
.table th,
.table td {
  border: 2px solid rebeccapurple;
  vertical-align: middle;
}

.table td {
  width: 100px;
  height: 100px;
}

.dark-grey {
  background-color: darkgrey;
}

.dark-green {
  background-color: darkgreen;
}

.light-green {
  background-color: lightgreen;
}

.intense-dark-green {
  background-color: #013220;
}

.intense-dark-orange {
  background-color: darkorange;
}

.blue {
  background-color: blue;
}
/* INLINE */

.first-row {
	font-size: 0;
	background: aqua;
}

.first-row > div {
	width: 400px;
	height: 400px;
	display: inline-block;
	font-size: 20px;
}

.second-row {
	font-size: 0;
	background: yellow;
}

.second-row > div {
	display: inline-block;
	width: 800px;
	font-size: 20px;
	vertical-align: top;
}
.second-row > div > div {
	height: 200px;
}
.second-row > div + div {
	width: 400px;
}
.second-row > div + div > div {
	height: 133.333px;
}
.third-row {
	font-size: 0;
}

.third-row > div {
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
}

.third-row-first {
	width: 400px;
	height: 400px;
	background: orange;
}
.third-row-second {
	width: 800px;
}

.third-row-second-one {
	height: 200px;
	background: red;
}

.third-row-second-two {
	font-size: 0;
}

.third-row-second-two > div {
	display: inline-block;
	font-size: 20px;
	width: 400px;
	height: 200px;
	vertical-align: top;
}

.third-row-second-two > div + div > div {
	height: 100px;
	background: #000;
	color: aliceblue;
}

.container-inline {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container-inline div {
	outline: 2px solid red;
}

.block {
  display: inline-block;
  vertical-align: middle;
  outline: 2px solid rebeccapurple
}
.cyan { background-color: cyan; width: 400px; height: 200px; }
.lime1 { background-color: lime; width: 800px; height: 200px; }
.lime2 { background-color: lime; width: 400px; height: 200px; }
.orange1 { background-color: orange; width: 400px; height: 200px; }
.orange2 { background-color: orange; width: 800px; height: 200px;
}