@import url('reset.css');


.container {
  width: calc(100% + 4px);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  left: -2px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.block {
  border: 2px solid black;
  box-sizing: border-box;
  background-color: transparent;
  flex-grow: 1;
}

.row-1 {
  height: 20vh;
}

.row-2 {
  height: 40vh;
}

.row-3 {
  height: 40vh;
}
.dark-grey { background-color: darkgrey; }
.dark-green { background-color: darkgreen; }
.light-green { background-color: lightgreen; }
.intense-dark-green { background-color: #013220; }
.intense-dark-orange { background-color: darkorange; }
.blue { background-color: blue; }